version: '2'
services:
  combinedserver:
    extends:
      file: docker-compose.base.yml
      service: interfaceserver
    volumes:
      - .:/app
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_SECRET_KEY
    depends_on:
      - database
      - redis
    command: python3 manage.py runserver 0.0.0.0:8000
  database:
    extends:
      file: docker-compose.base.yml
      service: database
  redis:
    extends:
      file: docker-compose.base.yml
      service: redis
